Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

Update reusable-linters.yml
  .github/workflows/reusable-linters.yml
Due: none

Update _compat.py
  packaging/pep517_backend/_compat.py
Due: none

🧪 Let sphinxcontrib-towncrier find the config
  docs/conf.py
Due: docs

🤖 Apply pre-commit autoformatting
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/hooks.py
Due: none

🧪 Drop `setup-python` cache from the test job
  .github/workflows/ci-cd.yml
Due: none

Drop Python 3.8
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  README.rst
  docs/index.rst
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  setup.cfg
  tox.ini
Due: library, docs

Update _frozenlist.pyx
  frozenlist/_frozenlist.pyx
Due: library

Update __init__.py
  frozenlist/__init__.py
Due: library

Drop Python 3.8 (#623)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  README.rst
  docs/index.rst
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  setup.cfg
  tox.ini
Due: library, docs

🧪 Drop `setup-python` cache path from the test job
  .github/workflows/ci-cd.yml
Due: none

🧪 Drop `setup-python` flip cache path slash @ test job
  .github/workflows/ci-cd.yml
Due: none

🧪 Mv setup-python to the test job beginning
  .github/workflows/ci-cd.yml
Due: none

🧪 Mv cached reqs to repo top level
  .github/workflows/ci-cd.yml
  Makefile
  ci.txt
  requirements/dev.txt
Due: configs, docs

Set `actions/setup-python` to v5.1.0
  .github/workflows/ci-cd.yml
Due: none

Set `actions/setup-python` to v5.2.0
  .github/workflows/ci-cd.yml
Due: none

Set `actions/setup-python` to v5.0.0
  .github/workflows/ci-cd.yml
Due: none

Set `actions/setup-python` to v4.0.0
  .github/workflows/ci-cd.yml
Due: none

🧪 Use Python 3.13.0 in the test matrix
  .github/workflows/ci-cd.yml
Due: none

🧪 Mv GHA pip deps cache mgmt to in-tree actions
  .github/actions/cache-keys/action.yml
  .github/actions/cache-pip-deps/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  .pre-commit-config.yaml
  CHANGES/622.contrib.rst
  MANIFEST.in
Due: changelog

💅 Only show runtime coverage @ Codecov badges
  README.rst
  docs/conf.py
Due: docs

🚑 Fix a typo in `conf.py`
  docs/conf.py
Due: docs

🧪 Format `conf.py`
  docs/conf.py
Due: docs

🧪 Plug a reusable action for cache mgmt
  .github/actions/cache-pip-deps/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  CHANGES/622.contrib.rst
  CHANGES/633.contrib.rst
Due: changelog

Fix thread safety issues with critical sections
  .github/workflows/ci-cd.yml
  MANIFEST.in
  frozenlist/_frozenlist.pyx
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  requirements/ci-freethreading.txt
  requirements/ci-pure.txt
  requirements/ci.txt
  scripts/cibw_before_build.sh
Due: library, configs

Fix linting
  .github/workflows/ci-cd.yml
  packaging/pep517_backend/_backend.py
Due: none

Upgrade cibuildwheel to 2.22.0
  .github/workflows/reusable-build-wheel.yml
Due: none

Update requirements/ci.txt
  requirements/ci.txt
Due: configs

Strict typing (#620)
  .github/workflows/reusable-linters.yml
  .mypy.ini
  .pre-commit-config.yaml
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/cli.py
  packaging/pep517_backend/hooks.py
  requirements/ci.txt
  setup.cfg
Due: configs

Use C++ atomics for frozen instead of critical sections
  .github/workflows/ci-cd.yml
  MANIFEST.in
  frozenlist/_frozenlist.pyx
  packaging/pep517_backend/_backend.py
  pyproject.toml
  requirements/ci-freethreading.txt
  requirements/ci-pure.txt
  requirements/ci.txt
  scripts/cibw_before_build.sh
Due: library, configs

Better organize lint and test dependencies
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  Makefile
  requirements/ci.txt
  requirements/cython.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: configs

Add news blurb
  CHANGES/636.contrib.rst
Due: changelog

towncrier is not needed for in test deps
  requirements/test.txt
Due: configs

Remove version constraints from build and twine
  requirements/lint.txt
Due: configs

Update CHANGES/636.contrib.rst
  CHANGES/636.contrib.rst
Due: changelog

Reduce number of coverage uploads needed
  .codecov.yml
Due: configs

Reduce number of coverage uploads needed (#637)
  .codecov.yml
Due: configs

Better organize lint and test dependencies (#636)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  CHANGES/636.contrib.rst
  Makefile
  requirements/ci.txt
  requirements/cython.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: configs, changelog

Use SPDX license expression
  CHANGES/639.packaging.rst
  setup.cfg
Due: changelog

Revert to using actions/setup-python
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: frozenlist/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
