Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

Add CLAUDE.md that imports AGENTS.md via @-syntax
  CHANGES/761.contrib.rst
  CLAUDE.md
Due: changelog, docs

Add CLAUDE.md that imports AGENTS.md via @-syntax (#761)
  CHANGES/761.contrib.rst
  CLAUDE.md
Due: changelog, docs

Migrate code formatting from black + isort to ruff
  .pre-commit-config.yaml
  CHANGES/762.contrib.rst
  packaging/pep517_backend/_compat.py
  pyproject.toml
  setup.cfg
Due: configs, changelog

Migrate code formatting from black + isort to ruff (#762)
  .pre-commit-config.yaml
  CHANGES/762.contrib.rst
  packaging/pep517_backend/_compat.py
  pyproject.toml
  setup.cfg
Due: configs, changelog

Pin coverage core to ctrace for Python 3.14 compatibility
  .coveragerc
  CHANGES/763.contrib.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Switch to COVERAGE_CORE env var for ctrace pinning
  .coveragerc
  .github/workflows/ci-cd.yml
  CHANGES/763.contrib.rst
Due: changelog

Switch cibuildwheel to the uv build frontend
  .github/workflows/reusable-cibuildwheel.yml
  CHANGES/764.contrib.rst
  pyproject.toml
Due: configs, changelog

Move COVERAGE_CORE to per-job env to avoid PyPy CTracer abort
  .github/workflows/ci-cd.yml
Due: none

Switch cibuildwheel to the uv build frontend (#764)
  .github/workflows/reusable-cibuildwheel.yml
  CHANGES/764.contrib.rst
  pyproject.toml
Due: configs, changelog

Use pytrace for PyPy COVERAGE_CORE to avoid GHA falsy collapse
  .github/workflows/ci-cd.yml
Due: none

Pin coverage core to ctrace for Python 3.14 compatibility (#763)
  .github/workflows/ci-cd.yml
  CHANGES/763.contrib.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Drop Python 3.9 support
  .github/workflows/ci-cd.yml
  AGENTS.md
  CHANGES/765.breaking.rst
  pyproject.toml
Due: configs, changelog, docs

Add PR-numbered CHANGES symlink for #766
  CHANGES/766.breaking.rst
Due: changelog

Symlink CHANGES/767 to 765 news fragment
  CHANGES/767.breaking.rst
Due: changelog

Install Python via astral-sh/setup-uv and use uv pip everywhere
  .github/workflows/ci-cd.yml
  CHANGES/768.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Drop Python 3.9 support (#766)
  .github/workflows/ci-cd.yml
  AGENTS.md
  CHANGES/765.breaking.rst
  CHANGES/766.breaking.rst
  pyproject.toml
Due: configs, changelog, docs

Enable ruff UP rules and upgrade typing syntax
  CHANGES/769.contrib.rst
  frozenlist/__init__.pyi
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/cli.py
  pyproject.toml
Due: library, configs, changelog

Add PR-numbered CHANGES symlink for #770
  CHANGES/770.contrib.rst
Due: changelog

Apply suggestion from @bdraco
  CHANGES/769.contrib.rst
Due: changelog

rebase: apply review feedback on #770
  CHANGES/769.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

ci: fall back to plain build frontend for odd-arch wheels
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
  CHANGES/771.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Trim news fragment and unused spelling entries
  CHANGES/771.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Add pypa to spelling wordlist
  docs/spelling_wordlist.txt
Due: docs

ci: fall back to plain build frontend for odd-arch wheels (#771)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
  CHANGES/771.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Enable UP rules in ruff config (#770)
  CHANGES/769.contrib.rst
  CHANGES/770.contrib.rst
  docs/spelling_wordlist.txt
  frozenlist/__init__.pyi
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/cli.py
  pyproject.toml
Due: library, configs, changelog, docs

ci: make the deploy job re-runnable after a partial failure
  .github/workflows/ci-cd.yml
  CHANGES/773.contrib.rst
Due: changelog

Add dists to spelling wordlist
  docs/spelling_wordlist.txt
Due: docs

ci: build aarch64 and armv7l wheels on native ARM runners
  .github/workflows/ci-cd.yml
  CHANGES/774.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

ci: make the deploy job re-runnable after a partial failure (#773)
  .github/workflows/ci-cd.yml
  CHANGES/773.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Drop support for the free-threaded build of CPython 3.13
  .github/workflows/ci-cd.yml
  CHANGES/775.breaking.rst
  pyproject.toml
Due: configs, changelog

Cross-reference PR #776 to the issue-numbered news fragment
  CHANGES/776.breaking.rst
Due: changelog

ci: build aarch64 and armv7l wheels on native ARM runners (#774)
  .github/workflows/ci-cd.yml
  CHANGES/774.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Drop support for the free-threaded build of CPython 3.13 (#776)
  .github/workflows/ci-cd.yml
  CHANGES/775.breaking.rst
  CHANGES/776.breaking.rst
  pyproject.toml
Due: configs, changelog

tests: cover both directions of the NO_EXTENSIONS import branch
  CHANGES/782.contrib.rst
  tests/test_frozenlist.py
Due: changelog, tests

tests: drop :mod:`frozenlist` xref from the changelog fragment
  CHANGES/782.contrib.rst
Due: changelog

Apply suggestions from code review
  CHANGES/782.contrib.rst
Due: changelog

tests: cover both directions of the NO_EXTENSIONS import branch (#782)
  CHANGES/782.contrib.rst
  tests/test_frozenlist.py
Due: changelog, tests

rebase: apply review feedback on #772
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  tests/test_pep517_backend.py
Due: tests

fix: resolve CI failures on #772 (attempt 1)
  tests/test_pep517_backend.py
Due: tests
