Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

Pin the backend test dependencies and tidy the review notes
  .github/workflows/ci-cd.yml
  CHANGES/850.contrib.rst
  pyproject.toml
  requirements/test.txt
  tests/test_pep517_backend.py
Due: configs, changelog, tests

Pass the line tracing macro through CPPFLAGS (#850)
  .coveragerc
  .github/workflows/ci-cd.yml
  CHANGES/850.contrib.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
  pytest.ini
  requirements/test.txt
  tests/test_pep517_backend.py
Due: configs, changelog, tests

replace expandvars dep with stdlib, sync with pylibssh
  .github/workflows/ci-cd.yml
  .mypy.ini
  CHANGES/847.packaging.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
Due: configs, changelog

ci: add riscv64 builds on riscv64 runners
  .github/workflows/ci-cd.yml
  CHANGES/852.packaging.rst
Due: changelog

Replace `expandvars` dep in build backend with stdlib
  .github/workflows/ci-cd.yml
  .mypy.ini
  CHANGES/847.packaging.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
Due: configs, changelog

Add transitive type stubs
  .pre-commit-config.yaml
Due: none

Suppress unreachable MyPy errors in test_frozenlist.py
  tests/test_frozenlist.py
Due: tests

Modernized issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

add timeline fragment
  CHANGES/856.contrib.rst
Due: changelog

Restore subclass-safe pickling in the C extension
  CHANGES/834.bugfix.rst
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, changelog, tests

Adopt PEP 639 SPDX license metadata
  CHANGES/861.packaging.rst
  pyproject.toml
Due: configs, changelog

Adopt PEP 639 SPDX license metadata (#861)
  CHANGES/861.packaging.rst
  pyproject.toml
Due: configs, changelog

Drop stale generated _frozenlist.cpp and fix two broken tests
  .gitignore
  frozenlist/_frozenlist.cpp
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, configs, tests

Reword CHANGES fragment to satisfy the docs spelling check
  CHANGES/834.bugfix.rst
Due: changelog

Fix the actual spelling failure: "subclassing"
  CHANGES/834.bugfix.rst
Due: changelog

Fix the spelling failure for real: drop "behaviour"
  CHANGES/834.bugfix.rst
Due: changelog

Make wheel builds reproducible
  CHANGES/577.packaging.rst
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
Due: changelog

rebase: apply review feedback on #772
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  packaging/pep517_backend/_backend.py
  tests/conftest.py
  tests/test_pep517_backend.py
Due: tests

fix: resolve CI failures on #772 (attempt 1)
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  pytest.ini
  tests/conftest.py
  tests/test_pep517_backend.py
Due: tests

fix: resolve CI failures on #772 (attempt 1)
  pytest.ini
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  tests/conftest.py
  tests/test_pep517_backend.py
Due: tests

Split Codecov lib status into Cython and Python parts
  .codecov.yml
  CHANGES/867.contrib.rst
Due: configs, changelog

Split Codecov lib status into Cython and Python parts (#867)
  .codecov.yml
  CHANGES/867.contrib.rst
Due: configs, changelog

Request line tracing when translating Cython for coverage
  packaging/pep517_backend/cli.py
  tests/test_pep517_backend.py
Due: tests

Fail CI when a Cython module has no measured lines
  .github/workflows/ci-cd.yml
  CHANGES/868.contrib.rst
Due: changelog

Ask Cython for the legacy tracing hooks in traced builds
  packaging/pep517_backend/_cython_configuration.py
  tests/test_pep517_backend.py
Due: tests
