Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

🧪 Swap actionlint to non-containerized version
  .pre-commit-config.yaml
Due: none

Move project metadata from `setup.cfg` to `pyproject.toml`
  CHANGES/644.packaging.rst
  pyproject.toml
  setup.cfg
Due: configs, changelog

Drop deprecated `fix-encoding-pragma` check
  .pre-commit-config.yaml
Due: none

Edit the change note to match the writing style
  CHANGES/650.contrib
Due: changelog

Update the PR template to be consistent with contributing guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES/650.contrib
Due: changelog

Update CHANGES/712.feature.rst
  CHANGES/712.feature.rst
Due: changelog

Update frozenlist/_frozenlist.pyx
  frozenlist/_frozenlist.pyx
Due: library

fixed pickling
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
Due: library

fix again
  frozenlist/__init__.py
Due: library

Adjust interface test SKIP_METHODS for Python 3.15.0a2
  tests/test_frozenlist.py
Due: tests

News fragment for PR#723
  CHANGES/723.bugfix
Due: changelog

Skip __annotations_cache__ in test_iface for Python 3.14 compatibility
  tests/test_frozenlist.py
Due: tests

Add towncrier changelog fragment for PR #743
  CHANGES/743.bugfix.rst
Due: changelog

Fix copy.copy() sharing internal list between original and copy
  frozenlist/__init__.py
  frozenlist/__init__.pyi
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

Skip __annotate_func__ in test_iface for Python 3.14.3 compatibility
  tests/test_frozenlist.py
Due: tests

Update 712.feature.rst
  CHANGES/712.feature.rst
Due: changelog

improve frozenlist with C-API and revert unessesary items
  frozenlist/_frozenlist.pyx
Due: library

Apply suggestion from @Dreamsorcerer
  .pre-commit-config.yaml
Due: none

reformat code
  frozenlist/_frozenlist.pyx
Due: library

ci: add riscv64 wheels
  .github/workflows/ci-cd.yml
  CHANGES/741.packaging.rst
  CHANGES/744.packaging.rst
  CHANGES/745.packaging.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

ci: add riscv64 wheels (#741)
  .github/workflows/ci-cd.yml
  CHANGES/741.packaging.rst
  CHANGES/744.packaging.rst
  CHANGES/745.packaging.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

💅 Add ending marker to FUNDING config
  .github/FUNDING.yml
Due: none

💅 Drop unnecessary comments from FUNDING conf
  .github/FUNDING.yml
Due: none

💄 Add @aio-libs to the funding config
  .github/FUNDING.yml
Due: none

💰 Add Open Colective to the FUNDING config
  .github/FUNDING.yml
Due: none

💰 Add Tidelift to the FUNDING config
  .github/FUNDING.yml
Due: none

Add '__annotations_cache__' to SKIP_METHODS
  tests/test_frozenlist.py
Due: tests

Apply suggestion from @Dreamsorcerer
  tests/test_frozenlist.py
Due: tests

Add '__annotations_cache__' to SKIP_METHODS (#749)
  tests/test_frozenlist.py
Due: tests

Fix copy.copy() sharing internal list between original and copy (#743)
  CHANGES/743.bugfix.rst
  frozenlist/__init__.py
  frozenlist/__init__.pyi
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, changelog, tests

Add AGENTS.md with rules for LLM contributors
  AGENTS.md
  CHANGES/757.contrib.rst
Due: changelog, docs

rebase: apply review feedback on #759
  CHANGES/757.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Add AGENTS.md with rules for LLM contributors (#759)
  AGENTS.md
  CHANGES/757.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Document in AGENTS.md that the coverage gate covers tests
  AGENTS.md
  CHANGES/760.contrib.rst
Due: changelog, docs

ci: migrate MyPy coverage from Codecov to Coveralls
  .codecov.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  CHANGES/756.contrib.rst
Due: configs, changelog

Document in AGENTS.md that the coverage gate covers tests (#760)
  AGENTS.md
  CHANGES/760.contrib.rst
Due: changelog, docs

Migrate MyPy coverage from Codecov to Coveralls (#758)
  .codecov.yml
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
  CHANGES/756.contrib.rst
Due: configs, changelog
