Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

🎨 Set up Git to only allow certain change notes
  CHANGES/.gitignore
Due: changelog

💄 Make MyPy config standalone
  mypy.ini
  setup.cfg
Due: none

🧪 Run MyPy against supported Python range
  .pre-commit-config.yaml
  Makefile
  mypy.ini
  requirements/ci.txt
Due: configs

📦 Move packaging to PEP 517 in-tree backend
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
  .pre-commit-config.yaml
  CHANGES/560.contrib.rst
  CHANGES/560.packaging.rst
  MANIFEST.in
  Makefile
  README.rst
  packaging/README.md
  packaging/pep517_backend/__init__.py
  packaging/pep517_backend/__main__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/cli.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  requirements/dev.txt
  setup.cfg
  setup.py
Due: configs, changelog, docs

📝 Implement extlinks Sphinx roles for bylines
  docs/conf.py
Due: docs

📝 Render unreleased change notes in docs
  CHANGES.rst
  docs/conf.py
  docs/index.rst
  requirements/doc.txt
Due: configs, changelog, docs

💄 Format `conf.py`
  docs/conf.py
Due: docs

📝 Add the missing changes doc to Sphinx
  docs/changes.rst
Due: docs

📝 Add changelog words to known list
  docs/spelling_wordlist.txt
Due: docs

🐛📝 Add LF after transition line @ changelog
  CHANGES/.TEMPLATE.rst
Due: changelog

📦 Show changelog in package long description
  setup.cfg
Due: none

📝 Add another LF to the Towncrier template
  CHANGES/.TEMPLATE.rst
Due: changelog

🎨 Quote new lines in the changelog template
  CHANGES/.TEMPLATE.rst
Due: changelog

🧪📝 Make changelog validation pre-commit native
  .pre-commit-config.yaml
  tools/check_changes.py
Due: tools

🔥 Drop skipping `check-changes` @ pre-commit
  .pre-commit-config.yaml
Due: none

🧪Only let pre-commit.ci update config quarterly
  .pre-commit-config.yaml
Due: none

💄🧪 Separate linting into a reusable workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

🧪🐛 Fix matching the changelog fragments dir
  .pre-commit-config.yaml
Due: none

🧪🐛 Fix matching the template for change notes
  .pre-commit-config.yaml
Due: none

🧪 Collect Cython coverage in CI
  .codecov.yml
  .coveragerc
  .github/workflows/ci-cd.yml
  MANIFEST.in
  codecov.yml
Due: configs

📝 Add a change note for PR #561
  CHANGES/560.contrib.rst
  CHANGES/561.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

🧪 Report coverage with granular tags
  .github/workflows/ci-cd.yml
Due: none

📝💄 Use folder-based URLs on RTD
  .readthedocs.yml
Due: configs

📝 Add a separator line between change notes
  CHANGES/.TEMPLATE.rst
Due: changelog

📝 Use inline highlighting for vars @ changelog
  CHANGES/560.contrib.rst
Due: changelog

🧪 Type check PEP 517 build backend
  .pre-commit-config.yaml
  mypy.ini
Due: none

🧪 Type-check the tests
  .pre-commit-config.yaml
  mypy.ini
  tests/test_frozenlist.py
Due: tests

🧪🎨 Make type coverage Cobertura XML report
  .pre-commit-config.yaml
Due: none

🧪💄 Generate type coverage HTML report
  .pre-commit-config.yaml
Due: none

📝 Label PR/issue links in the changelog
  CHANGES/.TEMPLATE.rst
Due: changelog

📝 Emphasize issues/PRs label in the changelog
  CHANGES/.TEMPLATE.rst
Due: changelog

📝💄 Inline the PR/issue number list @ changelog
  CHANGES/.TEMPLATE.rst
Due: changelog

📝 Keep changelog title in the original doc
  CHANGES.rst
  docs/changes.rst
Due: changelog, docs

📝 Skip rendering release note drafts on RTD tags
  docs/changes.rst
  docs/conf.py
Due: docs

🧪 Stop passing tests/ dir to pytest in CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Integrate `cython-lint`
  .pre-commit-config.yaml
Due: none

🧪 Move pytest verbosity setting to CI
  .github/workflows/ci-cd.yml
  pyproject.toml
  pytest.ci.ini
Due: configs

🧪 Rely on coveragerc for pytest-cov targets
  pytest.ci.ini
  pytest.ini
Due: none

🧪🔧 Merge pytest configs
  MANIFEST.in
  Makefile
  pytest.ci.ini
Due: none

🧪 Preload `pytest_cov` early
  pytest.ini
Due: none
