Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

run on fork branch
  .github/workflows/ci-cd.yml
Due: none

Create actionlint.yml
  .github/actionlint.yml
Due: none

fix typo
  .github/workflows/ci-cd.yml
Due: none

add document start, fix indentation
  .github/actionlint.yml
Due: none

skip cancel-in-progress
  .github/workflows/ci-cd.yml
Due: none

revert cancel-in-progress, skip macos
  .github/workflows/ci-cd.yml
Due: none

revert skip
  .github/workflows/ci-cd.yml
Due: none

run workflow
  .github/workflows/ci-cd.yml
Due: none

remove fork branch trigger
  .github/workflows/ci-cd.yml
Due: none

Create 677.contrib.rst
  CHANGES/677.contrib.rst
Due: changelog

add 3.14 CI
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
  pyproject.toml
Due: configs

add news
  CHANGES/681.contrib.rst
Due: changelog

fix cibuildwheel version
  .github/workflows/reusable-cibuildwheel.yml
Due: none

add classifiers
  setup.cfg
Due: none

add Python 3.14 CI and wheels (#681)
  .github/workflows/ci-cd.yml
  CHANGES/681.contrib.rst
  pyproject.toml
  setup.cfg
Due: configs, changelog

fix CI config
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: configs

create symlink for news
  CHANGES/682.contrib.rst
Due: changelog

fix CI config for 3.14 (#682)
  .github/workflows/ci-cd.yml
  CHANGES/682.contrib.rst
  pyproject.toml
Due: configs, changelog

make frozenlist cython extension
  frozenlist/__init__.pxd
  frozenlist/_frozenlist.pxd
  frozenlist/_frozenlist.pyx
Due: library

685 add to timeline
  CHANGES/685.feature.rst
Due: changelog

Fix dependabot updates
  requirements/dev.txt
Due: configs

packaging
  CHANGES/687.packaging.rst
Due: changelog

should be contrib
  CHANGES/687.contrib.rst
Due: changelog

Fix dependabot updates (#687)
  CHANGES/687.contrib.rst
  requirements/dev.txt
Due: configs, changelog

Update CHANGES/677.contrib.rst
  CHANGES/677.contrib.rst
Due: changelog

Add windows arm64 support (#678)
  .github/actionlint.yml
  .github/workflows/ci-cd.yml
  CHANGES/677.contrib.rst
Due: changelog

Release 1.8.0
  CHANGES.rst
  CHANGES/668.contrib.rst
  CHANGES/669.contrib.rst
  CHANGES/677.contrib.rst
  CHANGES/681.contrib.rst
  CHANGES/682.contrib.rst
  CHANGES/687.contrib.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Release 1.8.0 (#698)
  CHANGES.rst
  CHANGES/668.contrib.rst
  CHANGES/669.contrib.rst
  CHANGES/677.contrib.rst
  CHANGES/681.contrib.rst
  CHANGES/682.contrib.rst
  CHANGES/687.contrib.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Increment version to 1.8.1.dev0
  frozenlist/__init__.py
Due: library

Increment version to 1.8.1.dev0 (#700)
  frozenlist/__init__.py
Due: library

Move project metadata from setup.cfg to pyproject.toml
  CHANGES/644.packaging.rst
  pyproject.toml
  setup.cfg
Due: configs, changelog

Sync changes from aiohttp PR
  CHANGES/644.packaging.rst
  pyproject.toml
Due: configs, changelog

upload concept for Moving Frozenlist to C
  frozenlist/_frozenlib/fl_atomics.h
  frozenlist/_frozenlib/frozenlist_object.h
  frozenlist/_frozenlib/pythoncapi_compat.h
  frozenlist/_frozenlib/state.h
  frozenlist/_frozenlist.cpp
  frozenlist/frozenlist.c
  tools/upgrade_pythoncapi.py
Due: library, tools

This is where I will stop for today.
  frozenlist/__init__.py
  frozenlist/_frozenlib/compat.h
  frozenlist/_frozenlib/fl_atomics.h
  frozenlist/_frozenlib/frozenlist_object.h
  frozenlist/_frozenlib/state.h
  frozenlist/frozenlist.c
Due: library

Whoops I need to fix that
  frozenlist/_frozenlist.cpp
Due: library

refractor some of frozenlist's sequence methods
  frozenlist/_frozenlist.pyx
Due: library

fix accidental mistake with deepcopy
  frozenlist/_frozenlist.pyx
Due: library

Add CHANGES/712.feature.rst
  CHANGES/712.feature.rst
Due: changelog

remove unused function
  frozenlist/_frozenlist.pyx
Due: library
