Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

🧪 Set test-based coverage context in pytest
  pytest.ini
Due: none

🧪 Explicitly set coveragepy config @ pytest
  pytest.ini
Due: none

🎨 Sort pytest config file keys
  pytest.ini
Due: none

🎨 Make pytest config sparse
  pytest.ini
Due: none

🎨 Multiline complex pytest config values
  pytest.ini
Due: none

🎨 Annotate pytest config with comments
  pytest.ini
Due: none

🧪 Extend pytest's `norecursedirs` setting
  pytest.ini
Due: none

🧪🎨 Make pytest config comprehensive and strict
  pytest.ini
Due: none

🧪🎨 Use 2-space indents in pytest config
  pytest.ini
Due: none

🧪 Let GHA run on merge_group events
  .github/workflows/ci-cd.yml
Due: none

📝 Add change note guidelines to docs
  CHANGES/564.contrib.rst
  CHANGES/README.rst
  docs/contributing/guidelines.rst
  docs/index.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

📝 Publish a release guide
  CHANGES/563.contrib.rst
  docs/contributing/release_guide.rst
  docs/index.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

🧪 Re-run tests in CI with verbosity on failures
  .github/workflows/ci-cd.yml
Due: none

💄🧪 Make colorization in CI global
  .github/workflows/ci-cd.yml
Due: none

📝🎨 Use `:issue:` Sphinx role in the changelog
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: configs

🧪💄 Publish test reports to GHA job summary
  .github/workflows/ci-cd.yml
Due: none

🧪💄 Show the coverage report in GHA job summary
  .github/workflows/ci-cd.yml
Due: none

🧪 Integrate `codespell` into pre-commit
  .pre-commit-config.yaml
  docs/spelling_wordlist.txt
Due: docs

🧪 Integrate check-jsonschema into pre-commit
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .pre-commit-config.yaml
Due: none

🧪 Use type-dependent timeout @ wheel build jobs
  .github/workflows/reusable-build-wheel.yml
  .pre-commit-config.yaml
Due: none

🐛🧪 Use number values for timeout-minutes @ GHA
  .github/workflows/reusable-build-wheel.yml
Due: none

🔥🧪 Drop non-existing action schema linting
  .pre-commit-config.yaml
Due: none

🔥🧪 Stop skipping `check-github-actions`
  .pre-commit-config.yaml
Due: none

🧪 Ignore a false positive actionlint rule
  .pre-commit-config.yaml
Due: none

💄🧪 Colorize cibuildwheel output
  pyproject.toml
Due: configs

🧪💅 Run all pre-commit checks @ CI
  Makefile
Due: none

⇪📦 Bump coverage to v7.3.3
  requirements/ci.txt
Due: configs

🔥🧪Rm unused coverage config from `setup.cfg`
  setup.cfg
Due: none

🧪🐛 Don't attempt importing C-ext when opt-out
  frozenlist/__init__.py
Due: library

🧪 Only run PyPy jobs under Ubuntu on CI
  .github/workflows/ci-cd.yml
Due: none

🧪💅 Put pure python runtime version to env var
  .github/workflows/ci-cd.yml
Due: none

🧪 Enable CI cancellation groups
  .github/workflows/ci-cd.yml
Due: none

🧪💅 Add a reusable project name var to CI/CD
  .github/workflows/ci-cd.yml
Due: none

🧪 Keep building macosx_x86_64 wheels for tests
  .github/workflows/ci-cd.yml
Due: none

🐛🧪 Fix the operator in `test_lt`
  tests/test_frozenlist.py
Due: tests

🧪 Upload MyPy coverage to Codecov
  .codecov.yml
  .github/workflows/reusable-linters.yml
Due: configs

🧪 Update codecov action input to plural `files`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

🧪🐛 List explicit MyPy coverage.xml paths @ CI
  .github/workflows/reusable-linters.yml
Due: none

🧪 Cache pre-commit.com virtualenvs @ CI
  .github/workflows/reusable-linters.yml
Due: none

⇪📦 Bump to v1.4.1.dev0
  frozenlist/__init__.py
Due: library
