Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

codecov.yml:

---

coverage:
  range: "95..100"

  status:
    project: false

flags:
  library:
    paths:
    - frozenlist/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/

...

Enable PIP_CONSTRAINT to pin Cython version for builds
  packaging/pep517_backend/_transformers.py
  pyproject.toml
Due: configs

revert change on wrong branch
  packaging/pep517_backend/_transformers.py
Due: none

changelog
  CHANGES/661.packaging.rst
Due: changelog

Enable PIP_CONSTRAINT to pin Cython version for builds (#661)
  CHANGES/661.packaging.rst
  pyproject.toml
Due: configs, changelog

Implement deepcopy support
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

changelog
  CHANGES/659.feature.rst
Due: changelog

Update packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_cython_configuration.py
Due: none

lint
  docs/spelling_wordlist.txt
Due: docs

Only enable line tracing when building with Cython tracing (#660)
  CHANGES/660.packaging.rst
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  pyproject.toml
Due: configs, changelog

Implement deepcopy support (#662)
  CHANGES/659.feature.rst
  docs/spelling_wordlist.txt
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, changelog, docs, tests

Release 1.7.0
  CHANGES.rst
  CHANGES/659.feature.rst
  CHANGES/660.packaging.rst
  CHANGES/661.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Release 1.7.0 (#663)
  CHANGES.rst
  CHANGES/659.feature.rst
  CHANGES/660.packaging.rst
  CHANGES/661.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Increment version to 1.7.1.dev0
  frozenlist/__init__.py
Due: library

Increment version to 1.7.1.dev0 (#664)
  frozenlist/__init__.py
Due: library

Faster Sequence Check & Exception Check
  frozenlist/_frozenlist.pyx
Due: library

Create 666.feature.rst
  CHANGES/666.feature.rst
Due: changelog

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Add Typehints to sort method
  frozenlist/__init__.pyi
Due: library

Internal Refracturing and new sort method
  frozenlist/_frozenlist.pyx
Due: library

Add new sort method
  frozenlist/__init__.py
Due: library

Update 666.feature.rst
  CHANGES/666.feature.rst
Due: changelog

test new sort method
  tests/test_frozenlist.py
Due: tests

Update _frozenlist.pyx
  frozenlist/_frozenlist.pyx
Due: library

Update test_frozenlist.py
  tests/test_frozenlist.py
Due: tests

Update __init__.pyi
  frozenlist/__init__.pyi
Due: library

Todo: Fix later
  frozenlist/__init__.pyi
Due: library

🧪 Rename `build-wheel` wf to `cibuildwheel`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Implement fully-qualified `runner-vm-os` input
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Drop truthy yamllint check @ reusable-cibuildwheel
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Make hash compute sparse @ `reusable-cibuildwheel`
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Replace reusable-cibuildwheel `tag` w/`check-name`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Surface `timeout-minutes` in reusable-cibuildwheel
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
Due: none

🧪 Generalize `cibuildwheel` config w/ env vars
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
Due: none

📝 Add a change note for PR #668
  CHANGES/668.contrib.rst
Due: changelog

Sync `reusable-cibuildwheel.yml` workflow name
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Match dist artifact defaults w/ `reusable-tox.yml`
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Feed sdist into `cibuildwheel` invocations
  .github/workflows/reusable-cibuildwheel.yml
Due: none

📝 Add a change note for PR #669
  CHANGES/669.contrib.rst
Due: changelog

add windows arm64 builds and tests
  .github/workflows/ci-cd.yml
Due: none
