Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

Update packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_backend.py
Due: none

Revert changes to codecov flags now that actions/setup-python is used
  .github/workflows/ci-cd.yml
Due: none

Implement support for the free-threaded build of CPython 3.13 (#618)
  .github/workflows/ci-cd.yml
  CHANGES/618.feature.rst
  CHANGES/618.packaging.rst
  frozenlist/_frozenlist.pyx
  packaging/pep517_backend/_backend.py
  pyproject.toml
  requirements/cython-freethreading.txt
  requirements/test-freethreading.txt
  requirements/test-pure.txt
  requirements/test.txt
Due: library, configs, changelog

Remove license classifier
  setup.cfg
Due: none

Update changelog
  CHANGES/639.packaging.rst
Due: changelog

Start building wheels on armv7l
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
  docs/spelling_wordlist.txt
Due: docs

changelog
  CHANGES/642.feature.rst
Due: changelog

Use SPDX license expression (#639)
  CHANGES/639.packaging.rst
  setup.cfg
Due: changelog

Start building wheels on armv7l (#642)
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
  CHANGES/642.feature.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Release 1.6.0
  CHANGES.rst
  CHANGES/41591f2.bugfix.rst
  CHANGES/41591f2.packaging.rst
  CHANGES/618.feature.rst
  CHANGES/618.packaging.rst
  CHANGES/633.contrib.rst
  CHANGES/636.contrib.rst
  CHANGES/639.packaging.rst
  CHANGES/642.feature.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Move project metadata from setup.cfg to pyproject.toml
  CHANGES/644.packaging.rst
  pyproject.toml
  setup.cfg
Due: configs, changelog

Release 1.6.0 (#643)
  CHANGES.rst
  CHANGES/41591f2.bugfix.rst
  CHANGES/41591f2.packaging.rst
  CHANGES/618.feature.rst
  CHANGES/618.packaging.rst
  CHANGES/633.contrib.rst
  CHANGES/636.contrib.rst
  CHANGES/639.packaging.rst
  CHANGES/642.feature.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Fix towncrier head_line missing the leading v
  .github/workflows/ci-cd.yml
Due: none

Fix towncrier head_line missing the leading v (#645)
  .github/workflows/ci-cd.yml
Due: none

Increment version to 1.6.1.dev0
  frozenlist/__init__.py
Due: library

Increment version to 1.6.1.dev0 (#646)
  frozenlist/__init__.py
Due: library

Exclude _frozenlist.cpp from bdists/wheels
  setup.cfg
Due: none

Add a news fragment for PR#649
  CHANGES/649.misc
Due: changelog

Update CHANGES/649.misc
  CHANGES/649.misc
Due: changelog

Update the PR template to be consistent with CHANGES/README.rst
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add a news fragment for PR#650
  CHANGES/650.contrib
Due: changelog

Categorize PR#649 as a packaging change
  CHANGES/649.packaging
Due: changelog

Add to spelling list: bdist, bdists, sdists
  docs/spelling_wordlist.txt
Due: docs

Fix import of PyBool_FromLong
  frozenlist/_frozenlist.pyx
Due: library

Add changelog item
  CHANGES/653.bugfix.rst
Due: changelog

Use Cython 3.1 universally
  .github/workflows/ci-cd.yml
  packaging/pep517_backend/_backend.py
  requirements/cython-freethreading.txt
  requirements/cython.txt
  requirements/test-freethreading.txt
  requirements/test-pure.txt
  requirements/test.txt
Due: configs

Remove installing libenchant-2-dev from the lint workflow
  .github/workflows/reusable-linters.yml
Due: none

Exclude _frozenlist.cpp from bdists/wheels (#649)
  CHANGES/649.packaging
  docs/spelling_wordlist.txt
  setup.cfg
Due: changelog, docs

Remove installing libenchant-2-dev from the lint workflow (#655)
  .github/workflows/reusable-linters.yml
Due: none

changelog
  CHANGES/654.packaging.rst
Due: changelog

Update CHANGES/653.bugfix.rst
  CHANGES/653.bugfix.rst
Due: changelog

lint
  packaging/pep517_backend/_backend.py
Due: none

Use Cython 3.1 universally (#654)
  .github/workflows/ci-cd.yml
  CHANGES/654.packaging.rst
  packaging/pep517_backend/_backend.py
  requirements/cython-freethreading.txt
  requirements/cython.txt
  requirements/test-freethreading.txt
  requirements/test-pure.txt
  requirements/test.txt
Due: configs, changelog

Fix import of PyBool_FromLong (#653)
  CHANGES/653.bugfix.rst
  frozenlist/_frozenlist.pyx
Due: library, changelog

Release 1.6.1
  CHANGES.rst
  CHANGES/649.packaging
  CHANGES/653.bugfix.rst
  CHANGES/654.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Release 1.6.1 (#656)
  CHANGES.rst
  CHANGES/649.packaging
  CHANGES/653.bugfix.rst
  CHANGES/654.packaging.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Release 1.6.2
  CHANGES.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Release 1.6.2 (#657)
  CHANGES.rst
  frozenlist/__init__.py
Due: library, changelog, docs

Only enable line tracing when building with Cython tracing
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  pyproject.toml
Due: configs

changelog
  CHANGES/660.packaging.rst
Due: changelog

Path conditions:
  library: any of: frozenlist/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
