Repository aio-libs/frozenlist: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools

Make wheel builds reproducible
  CHANGES/577.packaging.rst
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
Due: changelog

fix: resolve CI failures on #772 (attempt 1)
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  packaging/pep517_backend/_backend.py
  tests/conftest.py
  tests/test_pep517_backend.py
Due: tests

rebase: apply review feedback on #772
  pytest.ini
  tests/conftest.py
  tests/test_pep517_backend.py
Due: tests

ci: honor cython pin under build[uv] with UV_CONSTRAINT
  CHANGES/783.contrib.rst
  pyproject.toml
Due: configs, changelog

ci: honor cython pin under build[uv] with UV_CONSTRAINT (#783)
  CHANGES/783.contrib.rst
  pyproject.toml
Due: configs, changelog

Skip None Check in FrozenList.append Cythonized extension using C-API Call.
  frozenlist/_frozenlist.pyx
Due: library

add change to timeline
  CHANGES/817.misc.rst
Due: changelog

this should fix the documentation
  CHANGES/817.misc.rst
Due: changelog

Apply small code-quality fixes from static analysis sample
  CHANGES/820.contrib.rst
  docs/conf.py
  frozenlist/__init__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  tests/test_frozenlist.py
Due: library, changelog, docs, tests

docs: fix spelling in changelog entry
  CHANGES/820.contrib.rst
Due: changelog

docs: rephrase changelog entry for spelling gate
  CHANGES/820.contrib.rst
Due: changelog

docs: add contributor username to spelling wordlist
  docs/spelling_wordlist.txt
Due: docs

docs: avoid suppressions in changelog for spelling gate
  CHANGES/820.contrib.rst
Due: changelog

fix: restore pickling of FrozenList in the C extension (#834)
  CHANGES/834.bugfix.rst
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, changelog, tests

fix: preserve subclass in unpickling; add subclass round-trip test
  frozenlist/_frozenlist.cpp
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

fix(tests): silence mypy on the intentional alias-dispatch pattern
  tests/test_frozenlist.py
Due: tests

style(pyx): satisfy cython-lint blank-line rules around _unpickle_frozen_list
  frozenlist/_frozenlist.pyx
Due: library

Fix pickling for the C extension
  CHANGES/834.bugfix.rst
  CONTRIBUTORS.txt
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, changelog, docs, tests

Improve pickle test type coverage
  tests/test_frozenlist.py
Due: tests

tests: keep pickle coverage type-safe
  tests/test_frozenlist.py
Due: tests

Make FrozenList pickles implementation independent
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

Improve FrozenList pickle compatibility
  frozenlist/__init__.py
  frozenlist/__init__.pyi
  tests/test_frozenlist.py
Due: library, tests

Keep pickle tests fully type covered
  tests/test_frozenlist.py
Due: tests

Avoid coverage-only pickle helper tests
  frozenlist/__init__.pyi
  tests/test_frozenlist.py
Due: library, tests

Preserve subclass state when pickling FrozenList
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

Keep pickle tests type covered
  tests/test_frozenlist.py
Due: tests

Cover FrozenList state branches
  tests/test_frozenlist.py
Due: tests

Restore FrozenList subclass state before freezing
  frozenlist/__init__.py
  frozenlist/_frozenlist.pyx
  tests/test_frozenlist.py
Due: library, tests

Preserve FrozenList slot state with custom reducers
  frozenlist/__init__.py
  tests/test_frozenlist.py
Due: library, tests

Handle slots-only pickle state
  frozenlist/__init__.py
  tests/test_frozenlist.py
Due: library, tests

Handle mangled and mixed slot state
  frozenlist/__init__.py
  tests/test_frozenlist.py
Due: library, tests

cibuildwheel: remove useless pp* skip selector
  .github/workflows/ci-cd.yml
  CHANGES/844.contrib.rst
  docs/spelling_wordlist.txt
  pyproject.toml
Due: configs, changelog, docs

remove change from changelog
  CHANGES/844.contrib.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Remove `pp*` skip selector in cibuildwheel configs
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: configs

Pass the line tracing macro through CPPFLAGS
  CHANGES/850.contrib.rst
  packaging/pep517_backend/_cython_configuration.py
Due: changelog

Test that the build backend keeps the interpreter's compiler flags
  pyproject.toml
  pytest.ini
  requirements/test.txt
  tests/test_pep517_backend.py
Due: configs, tests

Keep the Any from distutils out of the backend test assertions
  tests/test_pep517_backend.py
Due: tests

Keep coverage reports working now that tracing builds are traced
  .coveragerc
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: frozenlist/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
